.modal {
    display: none;
    position: fixed;
    z-index: 8887;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in-out;
}
.modal-container .img {
      background: #f1f1f1;
      margin-bottom: 15px;
}
.modal-container p {
      margin-bottom: 10px;
}
.modal-container p:last-child {
      margin-bottom: 0;
}
.modal-content {
      background: #FFF;
      overflow-y: auto;
      padding: 20px 25px;
      width: 90%;
      max-width: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 400px;
      animation: show 0.6s linear 0s;
      filter: drop-shadow(0px 2px 6px #777);
}
.modal-top {
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 5px;
}
.modal-close {
      color: #FF0000;
      text-decoration: none;
      font-size: 2rem;
      line-height: 1;
      padding: 0 8px;
}
.modal-close:hover, .modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}
.modal-title {
    color: #FFF;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}